/* line 17, ../sass/partials/_base.sass */
a {
  color: #a83232;
}

@html5-boilerplate-normalize(html5, base, selection, links, typography, lists, images, svg, figures, forms, tables);
@-webkit-keyframes fadeIn {
  /* line 10, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
  }

  /* line 12, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 16, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 18, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInUp {
  /* line 22, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 25, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutUp {
  /* line 30, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 33, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@-webkit-keyframes fadeInDown {
  /* line 38, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 41, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutDown {
  /* line 46, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 49, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}

@-webkit-keyframes fadeInRight {
  /* line 54, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }

  /* line 57, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutLeft {
  /* line 62, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 65, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@-webkit-keyframes fadeInLeft {
  /* line 70, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  /* line 73, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutRight {
  /* line 78, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 81, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-webkit-keyframes fadeInUpBig {
  /* line 86, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  /* line 89, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutUpBig {
  /* line 94, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 97, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-webkit-keyframes fadeInDownBig {
  /* line 102, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  /* line 105, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutDownBig {
  /* line 110, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 113, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@-webkit-keyframes fadeInRightBig {
  /* line 118, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  /* line 121, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutLeftBig {
  /* line 126, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 129, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@-webkit-keyframes fadeInLeftBig {
  /* line 134, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 137, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutRightBig {
  /* line 142, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 145, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@-webkit-keyframes bounceIn {
  /* line 150, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }

  /* line 153, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  /* line 156, ../sass/partials/_animations.sass */
  70% {
    -webkit-transform: scale(0.9);
  }

  /* line 158, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes bounceInDown {
  /* line 162, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  /* line 165, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  /* line 168, ../sass/partials/_animations.sass */
  80% {
    -webkit-transform: translateY(-10px);
  }

  /* line 170, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes bounceInUp {
  /* line 174, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  /* line 177, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }

  /* line 180, ../sass/partials/_animations.sass */
  80% {
    -webkit-transform: translateY(10px);
  }

  /* line 182, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes bounceInRight {
  /* line 186, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  /* line 189, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }

  /* line 192, ../sass/partials/_animations.sass */
  80% {
    -webkit-transform: translateX(10px);
  }

  /* line 194, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes bounceInLeft {
  /* line 198, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 201, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }

  /* line 204, ../sass/partials/_animations.sass */
  80% {
    -webkit-transform: translateX(-10px);
  }

  /* line 206, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes bounceOut {
  /* line 210, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 212, ../sass/partials/_animations.sass */
  25% {
    -webkit-transform: scale(0.95);
  }

  /* line 214, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }

  /* line 217, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes bounceOutUp {
  /* line 222, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: translateY(0);
  }

  /* line 224, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }

  /* line 227, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-webkit-keyframes bounceOutDown {
  /* line 232, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: translateY(0);
  }

  /* line 234, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }

  /* line 237, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@-webkit-keyframes bounceOutLeft {
  /* line 242, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 244, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  /* line 247, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@-webkit-keyframes bounceOutRight {
  /* line 252, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 254, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  /* line 257, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@-webkit-keyframes flash {
  /* line 262, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 264, ../sass/partials/_animations.sass */
  25% {
    opacity: 0;
  }

  /* line 266, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
  }

  /* line 268, ../sass/partials/_animations.sass */
  75% {
    opacity: 0;
  }

  /* line 270, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  /* line 274, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: translateY(0);
  }

  /* line 276, ../sass/partials/_animations.sass */
  20% {
    -webkit-transform: translateY(0);
  }

  /* line 278, ../sass/partials/_animations.sass */
  40% {
    -webkit-transform: translateY(-30px);
  }

  /* line 280, ../sass/partials/_animations.sass */
  50% {
    -webkit-transform: translateY(0);
  }

  /* line 282, ../sass/partials/_animations.sass */
  60% {
    -webkit-transform: translateY(-15px);
  }

  /* line 284, ../sass/partials/_animations.sass */
  80% {
    -webkit-transform: translateY(0);
  }

  /* line 286, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  /* line 290, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 292, ../sass/partials/_animations.sass */
  10% {
    -webkit-transform: translateX(-10px);
  }

  /* line 294, ../sass/partials/_animations.sass */
  20% {
    -webkit-transform: translateX(10px);
  }

  /* line 296, ../sass/partials/_animations.sass */
  30% {
    -webkit-transform: translateX(-10px);
  }

  /* line 298, ../sass/partials/_animations.sass */
  40% {
    -webkit-transform: translateX(10px);
  }

  /* line 300, ../sass/partials/_animations.sass */
  50% {
    -webkit-transform: translateX(-10px);
  }

  /* line 302, ../sass/partials/_animations.sass */
  60% {
    -webkit-transform: translateX(10px);
  }

  /* line 304, ../sass/partials/_animations.sass */
  70% {
    -webkit-transform: translateX(-10px);
  }

  /* line 306, ../sass/partials/_animations.sass */
  80% {
    -webkit-transform: translateX(10px);
  }

  /* line 308, ../sass/partials/_animations.sass */
  90% {
    -webkit-transform: translateX(-10px);
  }

  /* line 310, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes rotateInDownLeft {
  /* line 314, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 318, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateInUpLeft {
  /* line 324, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 328, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateInUpRight {
  /* line 334, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 338, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateInDownRight {
  /* line 344, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 348, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateOutDownLeft {
  /* line 354, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 358, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateOutUpLeft {
  /* line 364, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 368, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateOutDownRight {
  /* line 374, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 378, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateOutUpRight {
  /* line 384, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 388, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateIn {
  /* line 394, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 398, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateOut {
  /* line 404, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 408, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(200deg);
    opacity: 0;
  }
}

@-webkit-keyframes tada {
  /* line 414, ../sass/partials/_animations.sass */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 416, ../sass/partials/_animations.sass */
  10% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 418, ../sass/partials/_animations.sass */
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 420, ../sass/partials/_animations.sass */
  30% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 422, ../sass/partials/_animations.sass */
  40% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 424, ../sass/partials/_animations.sass */
  50% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 426, ../sass/partials/_animations.sass */
  60% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 428, ../sass/partials/_animations.sass */
  70% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 430, ../sass/partials/_animations.sass */
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 432, ../sass/partials/_animations.sass */
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 434, ../sass/partials/_animations.sass */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@-moz-keyframes fadeIn {
  /* line 438, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
  }

  /* line 440, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeOut {
  /* line 444, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 446, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeInUp {
  /* line 450, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  /* line 453, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes fadeOutUp {
  /* line 458, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 461, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}

@-moz-keyframes fadeInDown {
  /* line 466, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 469, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes fadeOutDown {
  /* line 474, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 477, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
}

@-moz-keyframes fadeInRight {
  /* line 482, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }

  /* line 485, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes fadeOutLeft {
  /* line 490, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 493, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}

@-moz-keyframes fadeInLeft {
  /* line 498, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  /* line 501, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes fadeOutRight {
  /* line 506, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 509, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}

@-moz-keyframes fadeInUpBig {
  /* line 514, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  /* line 517, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes fadeOutUpBig {
  /* line 522, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 525, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-moz-keyframes fadeInDownBig {
  /* line 530, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  /* line 533, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes fadeOutDownBig {
  /* line 538, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 541, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}

@-moz-keyframes fadeInRightBig {
  /* line 546, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  /* line 549, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes fadeOutLeftBig {
  /* line 554, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 557, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}

@-moz-keyframes fadeInLeftBig {
  /* line 562, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 565, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes fadeOutRightBig {
  /* line 570, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 573, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}

@-moz-keyframes bounceIn {
  /* line 578, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }

  /* line 581, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  /* line 584, ../sass/partials/_animations.sass */
  70% {
    -moz-transform: scale(0.9);
  }

  /* line 586, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: scale(1);
  }
}

@-moz-keyframes bounceInDown {
  /* line 590, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  /* line 593, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  /* line 596, ../sass/partials/_animations.sass */
  80% {
    -moz-transform: translateY(-10px);
  }

  /* line 598, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes bounceInUp {
  /* line 602, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  /* line 605, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }

  /* line 608, ../sass/partials/_animations.sass */
  80% {
    -moz-transform: translateY(10px);
  }

  /* line 610, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes bounceInRight {
  /* line 614, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  /* line 617, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -moz-transform: translateX(-30px);
  }

  /* line 620, ../sass/partials/_animations.sass */
  80% {
    -moz-transform: translateX(10px);
  }

  /* line 622, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes bounceInLeft {
  /* line 626, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 629, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }

  /* line 632, ../sass/partials/_animations.sass */
  80% {
    -moz-transform: translateX(-10px);
  }

  /* line 634, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes bounceOut {
  /* line 638, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: scale(1);
  }

  /* line 640, ../sass/partials/_animations.sass */
  25% {
    -moz-transform: scale(0.95);
  }

  /* line 642, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }

  /* line 645, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
}

@-moz-keyframes bounceOutUp {
  /* line 650, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: translateY(0);
  }

  /* line 652, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }

  /* line 655, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-moz-keyframes bounceOutDown {
  /* line 660, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: translateY(0);
  }

  /* line 662, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }

  /* line 665, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}

@-moz-keyframes bounceOutLeft {
  /* line 670, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 672, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  /* line 675, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}

@-moz-keyframes bounceOutRight {
  /* line 680, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 682, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  /* line 685, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}

@-moz-keyframes flash {
  /* line 690, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 692, ../sass/partials/_animations.sass */
  25% {
    opacity: 0;
  }

  /* line 694, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
  }

  /* line 696, ../sass/partials/_animations.sass */
  75% {
    opacity: 0;
  }

  /* line 698, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes bounce {
  /* line 702, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: translateY(0);
  }

  /* line 704, ../sass/partials/_animations.sass */
  20% {
    -moz-transform: translateY(0);
  }

  /* line 706, ../sass/partials/_animations.sass */
  40% {
    -moz-transform: translateY(-30px);
  }

  /* line 708, ../sass/partials/_animations.sass */
  50% {
    -moz-transform: translateY(0);
  }

  /* line 710, ../sass/partials/_animations.sass */
  60% {
    -moz-transform: translateY(-15px);
  }

  /* line 712, ../sass/partials/_animations.sass */
  80% {
    -moz-transform: translateY(0);
  }

  /* line 714, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes shake {
  /* line 718, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 720, ../sass/partials/_animations.sass */
  10% {
    -moz-transform: translateX(-10px);
  }

  /* line 722, ../sass/partials/_animations.sass */
  20% {
    -moz-transform: translateX(10px);
  }

  /* line 724, ../sass/partials/_animations.sass */
  30% {
    -moz-transform: translateX(-10px);
  }

  /* line 726, ../sass/partials/_animations.sass */
  40% {
    -moz-transform: translateX(10px);
  }

  /* line 728, ../sass/partials/_animations.sass */
  50% {
    -moz-transform: translateX(-10px);
  }

  /* line 730, ../sass/partials/_animations.sass */
  60% {
    -moz-transform: translateX(10px);
  }

  /* line 732, ../sass/partials/_animations.sass */
  70% {
    -moz-transform: translateX(-10px);
  }

  /* line 734, ../sass/partials/_animations.sass */
  80% {
    -moz-transform: translateX(10px);
  }

  /* line 736, ../sass/partials/_animations.sass */
  90% {
    -moz-transform: translateX(-10px);
  }

  /* line 738, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes rotateInDownLeft {
  /* line 742, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 746, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInUpLeft {
  /* line 752, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 756, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInUpRight {
  /* line 762, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 766, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInDownRight {
  /* line 772, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 776, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateOutDownLeft {
  /* line 782, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 786, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutUpLeft {
  /* line 792, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 796, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutDownRight {
  /* line 802, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 806, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutUpRight {
  /* line 812, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 816, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateIn {
  /* line 822, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 826, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateOut {
  /* line 832, ../sass/partials/_animations.sass */
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 836, ../sass/partials/_animations.sass */
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(200deg);
    opacity: 0;
  }
}

@-moz-keyframes tada {
  /* line 842, ../sass/partials/_animations.sass */
  0% {
    -moz-transform: scale(1);
  }

  /* line 844, ../sass/partials/_animations.sass */
  10% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  /* line 846, ../sass/partials/_animations.sass */
  20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  /* line 848, ../sass/partials/_animations.sass */
  30% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  /* line 850, ../sass/partials/_animations.sass */
  40% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  /* line 852, ../sass/partials/_animations.sass */
  50% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  /* line 854, ../sass/partials/_animations.sass */
  60% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  /* line 856, ../sass/partials/_animations.sass */
  70% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  /* line 858, ../sass/partials/_animations.sass */
  80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  /* line 860, ../sass/partials/_animations.sass */
  90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  /* line 862, ../sass/partials/_animations.sass */
  100% {
    -moz-transform: scale(1) rotate(0);
  }
}

@-ms-keyframes fadeIn {
  /* line 866, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
  }

  /* line 868, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOut {
  /* line 872, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 874, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeInUp {
  /* line 878, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }

  /* line 881, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-ms-keyframes fadeOutUp {
  /* line 886, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  /* line 889, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
}

@-ms-keyframes fadeInDown {
  /* line 894, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 897, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-ms-keyframes fadeOutDown {
  /* line 902, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  /* line 905, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }
}

@-ms-keyframes fadeInRight {
  /* line 910, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateX(20px);
  }

  /* line 913, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-ms-keyframes fadeOutLeft {
  /* line 918, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  /* line 921, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }
}

@-ms-keyframes fadeInLeft {
  /* line 926, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }

  /* line 929, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-ms-keyframes fadeOutRight {
  /* line 934, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  /* line 937, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateX(20px);
  }
}

@-ms-keyframes fadeInUpBig {
  /* line 942, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }

  /* line 945, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-ms-keyframes fadeOutUpBig {
  /* line 950, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  /* line 953, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
}

@-ms-keyframes fadeInDownBig {
  /* line 958, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }

  /* line 961, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-ms-keyframes fadeOutDownBig {
  /* line 966, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  /* line 969, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
}

@-ms-keyframes fadeInRightBig {
  /* line 974, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }

  /* line 977, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-ms-keyframes fadeOutLeftBig {
  /* line 982, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  /* line 985, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
}

@-ms-keyframes fadeInLeftBig {
  /* line 990, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }

  /* line 993, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-ms-keyframes fadeOutRightBig {
  /* line 998, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  /* line 1001, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
}

@-ms-keyframes bounceIn {
  /* line 1006, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }

  /* line 1009, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    -ms-transform: scale(1.05);
  }

  /* line 1012, ../sass/partials/_animations.sass */
  70% {
    -ms-transform: scale(0.9);
  }

  /* line 1014, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: scale(1);
  }
}

@-ms-keyframes bounceInDown {
  /* line 1018, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }

  /* line 1021, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -ms-transform: translateY(30px);
  }

  /* line 1024, ../sass/partials/_animations.sass */
  80% {
    -ms-transform: translateY(-10px);
  }

  /* line 1026, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: translateY(0);
  }
}

@-ms-keyframes bounceInUp {
  /* line 1030, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }

  /* line 1033, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -ms-transform: translateY(-30px);
  }

  /* line 1036, ../sass/partials/_animations.sass */
  80% {
    -ms-transform: translateY(10px);
  }

  /* line 1038, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: translateY(0);
  }
}

@-ms-keyframes bounceInRight {
  /* line 1042, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }

  /* line 1045, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -ms-transform: translateX(-30px);
  }

  /* line 1048, ../sass/partials/_animations.sass */
  80% {
    -ms-transform: translateX(10px);
  }

  /* line 1050, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: translateX(0);
  }
}

@-ms-keyframes bounceInLeft {
  /* line 1054, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }

  /* line 1057, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    -ms-transform: translateX(30px);
  }

  /* line 1060, ../sass/partials/_animations.sass */
  80% {
    -ms-transform: translateX(-10px);
  }

  /* line 1062, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: translateX(0);
  }
}

@-ms-keyframes bounceOut {
  /* line 1066, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: scale(1);
  }

  /* line 1068, ../sass/partials/_animations.sass */
  25% {
    -ms-transform: scale(0.95);
  }

  /* line 1070, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }

  /* line 1073, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }
}

@-ms-keyframes bounceOutUp {
  /* line 1078, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: translateY(0);
  }

  /* line 1080, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -ms-transform: translateY(20px);
  }

  /* line 1083, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
}

@-ms-keyframes bounceOutDown {
  /* line 1088, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: translateY(0);
  }

  /* line 1090, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -ms-transform: translateY(-20px);
  }

  /* line 1093, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
}

@-ms-keyframes bounceOutLeft {
  /* line 1098, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: translateX(0);
  }

  /* line 1100, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -ms-transform: translateX(20px);
  }

  /* line 1103, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
}

@-ms-keyframes bounceOutRight {
  /* line 1108, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: translateX(0);
  }

  /* line 1110, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    -ms-transform: translateX(-20px);
  }

  /* line 1113, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
}

@-ms-keyframes flash {
  /* line 1118, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 1120, ../sass/partials/_animations.sass */
  25% {
    opacity: 0;
  }

  /* line 1122, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
  }

  /* line 1124, ../sass/partials/_animations.sass */
  75% {
    opacity: 0;
  }

  /* line 1126, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes bounce {
  /* line 1130, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: translateY(0);
  }

  /* line 1132, ../sass/partials/_animations.sass */
  20% {
    -ms-transform: translateY(0);
  }

  /* line 1134, ../sass/partials/_animations.sass */
  40% {
    -ms-transform: translateY(-30px);
  }

  /* line 1136, ../sass/partials/_animations.sass */
  50% {
    -ms-transform: translateY(0);
  }

  /* line 1138, ../sass/partials/_animations.sass */
  60% {
    -ms-transform: translateY(-15px);
  }

  /* line 1140, ../sass/partials/_animations.sass */
  80% {
    -ms-transform: translateY(0);
  }

  /* line 1142, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: translateY(0);
  }
}

@-ms-keyframes shake {
  /* line 1146, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: translateX(0);
  }

  /* line 1148, ../sass/partials/_animations.sass */
  10% {
    -ms-transform: translateX(-10px);
  }

  /* line 1150, ../sass/partials/_animations.sass */
  20% {
    -ms-transform: translateX(10px);
  }

  /* line 1152, ../sass/partials/_animations.sass */
  30% {
    -ms-transform: translateX(-10px);
  }

  /* line 1154, ../sass/partials/_animations.sass */
  40% {
    -ms-transform: translateX(10px);
  }

  /* line 1156, ../sass/partials/_animations.sass */
  50% {
    -ms-transform: translateX(-10px);
  }

  /* line 1158, ../sass/partials/_animations.sass */
  60% {
    -ms-transform: translateX(10px);
  }

  /* line 1160, ../sass/partials/_animations.sass */
  70% {
    -ms-transform: translateX(-10px);
  }

  /* line 1162, ../sass/partials/_animations.sass */
  80% {
    -ms-transform: translateX(10px);
  }

  /* line 1164, ../sass/partials/_animations.sass */
  90% {
    -ms-transform: translateX(-10px);
  }

  /* line 1166, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: translateX(0);
  }
}

@-ms-keyframes rotateInDownLeft {
  /* line 1170, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 1174, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}

@-ms-keyframes rotateInUpLeft {
  /* line 1180, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 1184, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}

@-ms-keyframes rotateInUpRight {
  /* line 1190, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 1194, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}

@-ms-keyframes rotateInDownRight {
  /* line 1200, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 1204, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}

@-ms-keyframes rotateOutDownLeft {
  /* line 1210, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  /* line 1214, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
}

@-ms-keyframes rotateOutUpLeft {
  /* line 1220, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  /* line 1224, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-ms-keyframes rotateOutDownRight {
  /* line 1230, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  /* line 1234, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-ms-keyframes rotateOutUpRight {
  /* line 1240, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  /* line 1244, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
}

@-ms-keyframes rotateIn {
  /* line 1250, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 1254, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}

@-ms-keyframes rotateOut {
  /* line 1260, ../sass/partials/_animations.sass */
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  /* line 1264, ../sass/partials/_animations.sass */
  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(200deg);
    opacity: 0;
  }
}

@-ms-keyframes tada {
  /* line 1270, ../sass/partials/_animations.sass */
  0% {
    -ms-transform: scale(1);
  }

  /* line 1272, ../sass/partials/_animations.sass */
  10% {
    -ms-transform: scale(0.9) rotate(-3deg);
  }

  /* line 1274, ../sass/partials/_animations.sass */
  20% {
    -ms-transform: scale(0.9) rotate(-3deg);
  }

  /* line 1276, ../sass/partials/_animations.sass */
  30% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  /* line 1278, ../sass/partials/_animations.sass */
  40% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }

  /* line 1280, ../sass/partials/_animations.sass */
  50% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  /* line 1282, ../sass/partials/_animations.sass */
  60% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }

  /* line 1284, ../sass/partials/_animations.sass */
  70% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  /* line 1286, ../sass/partials/_animations.sass */
  80% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }

  /* line 1288, ../sass/partials/_animations.sass */
  90% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  /* line 1290, ../sass/partials/_animations.sass */
  100% {
    -ms-transform: scale(1) rotate(0);
  }
}

@keyframes fadeIn {
  /* line 1294, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
  }

  /* line 1296, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* line 1300, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 1302, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  /* line 1306, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  /* line 1309, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  /* line 1314, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1317, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeInDown {
  /* line 1322, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 1325, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  /* line 1330, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1333, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeInRight {
  /* line 1338, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  /* line 1341, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  /* line 1346, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1349, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes fadeInLeft {
  /* line 1354, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  /* line 1357, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  /* line 1362, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1365, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes fadeInUpBig {
  /* line 1370, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  /* line 1373, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUpBig {
  /* line 1378, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1381, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

@keyframes fadeInDownBig {
  /* line 1386, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 1389, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDownBig {
  /* line 1394, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1397, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

@keyframes fadeInRightBig {
  /* line 1402, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  /* line 1405, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeftBig {
  /* line 1410, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1413, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@keyframes fadeInLeftBig {
  /* line 1418, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 1421, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRightBig {
  /* line 1426, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1429, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

@keyframes bounceIn {
  /* line 1434, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  /* line 1437, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  /* line 1440, ../sass/partials/_animations.sass */
  70% {
    transform: scale(0.9);
  }

  /* line 1442, ../sass/partials/_animations.sass */
  100% {
    transform: scale(1);
  }
}

@keyframes bounceInDown {
  /* line 1446, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 1449, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  /* line 1452, ../sass/partials/_animations.sass */
  80% {
    transform: translateY(-10px);
  }

  /* line 1454, ../sass/partials/_animations.sass */
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInUp {
  /* line 1458, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  /* line 1461, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  /* line 1464, ../sass/partials/_animations.sass */
  80% {
    transform: translateY(10px);
  }

  /* line 1466, ../sass/partials/_animations.sass */
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInRight {
  /* line 1470, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  /* line 1473, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  /* line 1476, ../sass/partials/_animations.sass */
  80% {
    transform: translateX(10px);
  }

  /* line 1478, ../sass/partials/_animations.sass */
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  /* line 1482, ../sass/partials/_animations.sass */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 1485, ../sass/partials/_animations.sass */
  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  /* line 1488, ../sass/partials/_animations.sass */
  80% {
    transform: translateX(-10px);
  }

  /* line 1490, ../sass/partials/_animations.sass */
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceOut {
  /* line 1494, ../sass/partials/_animations.sass */
  0% {
    transform: scale(1);
  }

  /* line 1496, ../sass/partials/_animations.sass */
  25% {
    transform: scale(0.95);
  }

  /* line 1498, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  /* line 1501, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

@keyframes bounceOutUp {
  /* line 1506, ../sass/partials/_animations.sass */
  0% {
    transform: translateY(0);
  }

  /* line 1508, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    transform: translateY(20px);
  }

  /* line 1511, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

@keyframes bounceOutDown {
  /* line 1516, ../sass/partials/_animations.sass */
  0% {
    transform: translateY(0);
  }

  /* line 1518, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }

  /* line 1521, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

@keyframes bounceOutLeft {
  /* line 1526, ../sass/partials/_animations.sass */
  0% {
    transform: translateX(0);
  }

  /* line 1528, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    transform: translateX(20px);
  }

  /* line 1531, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@keyframes bounceOutRight {
  /* line 1536, ../sass/partials/_animations.sass */
  0% {
    transform: translateX(0);
  }

  /* line 1538, ../sass/partials/_animations.sass */
  20% {
    opacity: 1;
    transform: translateX(-20px);
  }

  /* line 1541, ../sass/partials/_animations.sass */
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

@keyframes flash {
  /* line 1546, ../sass/partials/_animations.sass */
  0% {
    opacity: 1;
  }

  /* line 1548, ../sass/partials/_animations.sass */
  25% {
    opacity: 0;
  }

  /* line 1550, ../sass/partials/_animations.sass */
  50% {
    opacity: 1;
  }

  /* line 1552, ../sass/partials/_animations.sass */
  75% {
    opacity: 0;
  }

  /* line 1554, ../sass/partials/_animations.sass */
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  /* line 1558, ../sass/partials/_animations.sass */
  0% {
    transform: translateY(0);
  }

  /* line 1560, ../sass/partials/_animations.sass */
  20% {
    transform: translateY(0);
  }

  /* line 1562, ../sass/partials/_animations.sass */
  40% {
    transform: translateY(-30px);
  }

  /* line 1564, ../sass/partials/_animations.sass */
  50% {
    transform: translateY(0);
  }

  /* line 1566, ../sass/partials/_animations.sass */
  60% {
    transform: translateY(-15px);
  }

  /* line 1568, ../sass/partials/_animations.sass */
  80% {
    transform: translateY(0);
  }

  /* line 1570, ../sass/partials/_animations.sass */
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  /* line 1574, ../sass/partials/_animations.sass */
  0% {
    transform: translateX(0);
  }

  /* line 1576, ../sass/partials/_animations.sass */
  10% {
    transform: translateX(-10px);
  }

  /* line 1578, ../sass/partials/_animations.sass */
  20% {
    transform: translateX(10px);
  }

  /* line 1580, ../sass/partials/_animations.sass */
  30% {
    transform: translateX(-10px);
  }

  /* line 1582, ../sass/partials/_animations.sass */
  40% {
    transform: translateX(10px);
  }

  /* line 1584, ../sass/partials/_animations.sass */
  50% {
    transform: translateX(-10px);
  }

  /* line 1586, ../sass/partials/_animations.sass */
  60% {
    transform: translateX(10px);
  }

  /* line 1588, ../sass/partials/_animations.sass */
  70% {
    transform: translateX(-10px);
  }

  /* line 1590, ../sass/partials/_animations.sass */
  80% {
    transform: translateX(10px);
  }

  /* line 1592, ../sass/partials/_animations.sass */
  90% {
    transform: translateX(-10px);
  }

  /* line 1594, ../sass/partials/_animations.sass */
  100% {
    transform: translateX(0);
  }
}

@keyframes rotateInDownLeft {
  /* line 1598, ../sass/partials/_animations.sass */
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 1602, ../sass/partials/_animations.sass */
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpLeft {
  /* line 1608, ../sass/partials/_animations.sass */
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  /* line 1612, ../sass/partials/_animations.sass */
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpRight {
  /* line 1618, ../sass/partials/_animations.sass */
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 1622, ../sass/partials/_animations.sass */
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  /* line 1628, ../sass/partials/_animations.sass */
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  /* line 1632, ../sass/partials/_animations.sass */
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateOutDownLeft {
  /* line 1638, ../sass/partials/_animations.sass */
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 1642, ../sass/partials/_animations.sass */
  100% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpLeft {
  /* line 1648, ../sass/partials/_animations.sass */
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 1652, ../sass/partials/_animations.sass */
  100% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownRight {
  /* line 1658, ../sass/partials/_animations.sass */
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 1662, ../sass/partials/_animations.sass */
  100% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpRight {
  /* line 1668, ../sass/partials/_animations.sass */
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 1672, ../sass/partials/_animations.sass */
  100% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateIn {
  /* line 1678, ../sass/partials/_animations.sass */
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 1682, ../sass/partials/_animations.sass */
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateOut {
  /* line 1688, ../sass/partials/_animations.sass */
  0% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 1692, ../sass/partials/_animations.sass */
  100% {
    transform-origin: center center;
    transform: rotate(200deg);
    opacity: 0;
  }
}

@keyframes tada {
  /* line 1698, ../sass/partials/_animations.sass */
  0% {
    transform: scale(1);
  }

  /* line 1700, ../sass/partials/_animations.sass */
  10% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 1702, ../sass/partials/_animations.sass */
  20% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 1704, ../sass/partials/_animations.sass */
  30% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 1706, ../sass/partials/_animations.sass */
  40% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 1708, ../sass/partials/_animations.sass */
  50% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 1710, ../sass/partials/_animations.sass */
  60% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 1712, ../sass/partials/_animations.sass */
  70% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 1714, ../sass/partials/_animations.sass */
  80% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 1716, ../sass/partials/_animations.sass */
  90% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 1718, ../sass/partials/_animations.sass */
  100% {
    transform: scale(1) rotate(0);
  }
}

/* line 10, ../sass/partials/_formalize.sass */
.input_tiny {
  width: 50px;
}

/* line 13, ../sass/partials/_formalize.sass */
.input_small {
  width: 100px;
}

/* line 16, ../sass/partials/_formalize.sass */
.input_medium {
  width: 150px;
}

/* line 19, ../sass/partials/_formalize.sass */
.input_large {
  width: 200px;
}

/* line 22, ../sass/partials/_formalize.sass */
.input_xlarge {
  width: 250px;
}

/* line 25, ../sass/partials/_formalize.sass */
.input_xxlarge {
  width: 300px;
}

/* line 28, ../sass/partials/_formalize.sass */
.input_full {
  width: 100%;
}

/* line 34, ../sass/partials/_formalize.sass */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 41, ../sass/partials/_formalize.sass */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 51, ../sass/partials/_formalize.sass */
input:invalid,
button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 55, ../sass/partials/_formalize.sass */
input:focus,
button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 63, ../sass/partials/_formalize.sass */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 67, ../sass/partials/_formalize.sass */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('/assets/img/button.png') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
/* line 90, ../sass/partials/_formalize.sass */
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
}
/* line 92, ../sass/partials/_formalize.sass */
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
/* line 102, ../sass/partials/_formalize.sass */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 106, ../sass/partials/_formalize.sass */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 111, ../sass/partials/_formalize.sass */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
/* line 148, ../sass/partials/_formalize.sass */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 151, ../sass/partials/_formalize.sass */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 168, ../sass/partials/_formalize.sass */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

/* line 172, ../sass/partials/_formalize.sass */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 176, ../sass/partials/_formalize.sass */
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

/* line 180, ../sass/partials/_formalize.sass */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 187, ../sass/partials/_formalize.sass */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 195, ../sass/partials/_formalize.sass */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 201, ../sass/partials/_formalize.sass */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url('/assets/img/select_arrow.gif');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 209, ../sass/partials/_formalize.sass */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 222, ../sass/partials/_formalize.sass */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/* line 230, ../sass/partials/_formalize.sass */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 236, ../sass/partials/_formalize.sass */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 245, ../sass/partials/_formalize.sass */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 272, ../sass/partials/_formalize.sass */
.ie6_button,
* html button {
  background: #dddddd url('/assets/img/button.png') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

/* line 284, ../sass/partials/_formalize.sass */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 288, ../sass/partials/_formalize.sass */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 300, ../sass/partials/_formalize.sass */
* html select {
  margin-top: 1px;
}

/* line 303, ../sass/partials/_formalize.sass */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 308, ../sass/partials/_formalize.sass */
.ie6_input_disabled {
  background: #eeeeee;
}

/* line 7, ../sass/partials/_page.sass */
body, select, input, textarea {
  color: #615c5c;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
}

/* line 20, ../sass/partials/_page.sass */
* {
  margin: 0;
}

/* line 23, ../sass/partials/_page.sass */
body {
  margin: 0;
  padding: 10px 0 0 0;
  position: relative;
  z-index: 10;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #d7d5d1), color-stop(100%, #e3a99c));
  background: -webkit-radial-gradient(#d7d5d1, #e3a99c);
  background: -moz-radial-gradient(#d7d5d1, #e3a99c);
  background: -o-radial-gradient(#d7d5d1, #e3a99c);
  background: -ms-radial-gradient(#d7d5d1, #e3a99c);
  background: radial-gradient(#d7d5d1, #e3a99c);
}
/* line 31, ../sass/partials/_page.sass */
body h1, body h2, body h3 {
  color: #a83232;
  font-family: "Lato";
  font-weight: 100;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
/* line 37, ../sass/partials/_page.sass */
body h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
/* line 42, ../sass/partials/_page.sass */
body h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* line 46, ../sass/partials/_page.sass */
body h2 {
  font-size: 18px;
}
/* line 48, ../sass/partials/_page.sass */
body h3 {
  font-size: 13px;
}

/* line 51, ../sass/partials/_page.sass */
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px;
}

/* line 59, ../sass/partials/_page.sass */
#main {
  margin: 0 20px;
  padding: 30px 50px 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.3)));
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  background: -o-radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  background: -ms-radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 67, ../sass/partials/_page.sass */
#main section.hide {
  -webkit-animation: fadeOut 1s 0.2s ease both;
  -moz-animation: fadeOut 1s 0.2s ease both;
  -ms-animation: fadeOut 1s 0.2s ease both;
  -o-animation: fadeOut 1s 0.2s ease both;
  animation: fadeOut 1s 0.2s ease both;
  display: none;
}
/* line 70, ../sass/partials/_page.sass */
#main section.show {
  -webkit-animation: fadeIn 1s 0.2s ease both;
  -moz-animation: fadeIn 1s 0.2s ease both;
  -ms-animation: fadeIn 1s 0.2s ease both;
  -o-animation: fadeIn 1s 0.2s ease both;
  animation: fadeIn 1s 0.2s ease both;
  display: block;
}
/* line 75, ../sass/partials/_page.sass */
#main section form label {
  display: block;
  margin: 0 0 5px;
}
/* line 79, ../sass/partials/_page.sass */
#main section form input {
  display: block;
  padding: 2px 4px;
  width: 170px;
}
/* line 84, ../sass/partials/_page.sass */
#main section form input[type="submit"] {
  width: auto;
  padding: 2px 4px;
}

/* line 88, ../sass/partials/_page.sass */
#map_canvas {
  width: 100%;
  height: 100%;
}

/* line 92, ../sass/partials/_page.sass */
.push {
  height: 42px;
}

/* line 95, ../sass/partials/_page.sass */
footer {
  height: 42px;
  background: #d7d5d1;
  border-top: 1px solid #e3a99c;
  -webkit-animation: bounceInUp 1s 0.2s ease both;
  -moz-animation: bounceInUp 1s 0.2s ease both;
  -ms-animation: bounceInUp 1s 0.2s ease both;
  -o-animation: bounceInUp 1s 0.2s ease both;
  animation: bounceInUp 1s 0.2s ease both;
  -webkit-box-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3);
}
/* line 103, ../sass/partials/_page.sass */
footer ul {
  margin: 9px auto 0;
  padding: 0;
  list-style: none;
  width: 345px;
}
/* line 109, ../sass/partials/_page.sass */
footer ul.hide {
  display: none;
}
/* line 112, ../sass/partials/_page.sass */
footer ul li {
  font-family: Arial, serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0 30px;
  float: left;
}
/* line 119, ../sass/partials/_page.sass */
footer ul li a {
  color: #615c5c;
  text-decoration: none;
}
/* line 123, ../sass/partials/_page.sass */
footer ul li a:hover {
  text-decoration: underline;
}
/* line 126, ../sass/partials/_page.sass */
footer ul li a:active, footer ul li a:focus, footer ul li a.current {
  color: #a83232;
}

@html5-boilerplate-helpers(ir, hidden, visuallyhidden, invisible, clearfix);
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 17, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 18, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 19, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 20, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 21, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 22, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 23, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 24, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 25, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 27, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 28, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets/html5-boilerplate/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
